

.char-info-fade-enter {
  padding: 0 0 6px 0;
    opacity: 0;
    transform-origin: top;
    border-radius: 50%;
    transform: scaleY(0.8);
}
.char-info-fade-enter-active {
  padding: 0 0 6px 0;
  opacity: 0;
  transform-origin: top;
  border-radius: 50%;
  transform: scaleY(0.8);
}
.char-info-fade-enter-done {
  padding: 0 0 6px 0;
  opacity: 1;
  border-radius: 0;
  transform-origin: top;
  transform: scaleY(1);
  transition: opacity 200ms, border-radius 200ms, transform 200ms;
}

.char-info-fade-exit {
  padding: 0 0 6px 0;
  opacity: 0;
  transform-origin: top;
  border-radius: 50%;
  transform: scaleY(0.8);
}

.char-info-fade-exit-actve {
  padding: 0 0 6px 0;
  opacity: 0;
  transform-origin: top;
  border-radius: 50%;
  transform: scaleY(0.8);
}
.char-info-fade-exit-done {
  padding: 0 0 6px 0;
  opacity: 1;
  border-radius: 0;
  transform-origin: top;
  transform: scaleY(1);
  transition: opacity 200ms, border-radius 200ms, transform 200ms;
}