.add-item-enter {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  .add-item-enter-active {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  .add-item-enter-done {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }

  .add-item-fade-exit {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  .add-item-fade-exit-actve {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  .add-item-fade-exit-done {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
  }