.add-item-enter {
    opacity: 0;
    transform: translateY(100px) scale(0.9);
    transition: opacity 500ms, transform 500ms;
  }
  .add-item-enter-active {
    opacity: 0;
    transform: translateY(100px) scale(0.9);
    transition: opacity 500ms, transform 500ms;
  }
  .add-item-enter-done {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: opacity 500ms, transform 500ms;
  }

  .add-item-fade-exit {
    opacity: 1;
    transition: opacity 500ms, transform 500ms;
    transform: translateY(0) scale(1);
  }

  .add-item-fade-exit-actve {
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
    transform: translateY(100px) scale(0.9);
  }
  .add-item-fade-exit-done {
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
    transform: translateY(100px) scale(0.9);
  }