@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('./resources/fonts/RobotoCondensed-Regular.ttf') format('ttf');
  }

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('./resources/fonts/RobotoCondensed-Bold.ttf') format('ttf');
  }

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('./resources/fonts/RobotoCondensed-Regular.woff2') format('woff2');
  }

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('./resources/fonts/RobotoCondensed-Bold.woff2') format('woff2');
  }

body {
	margin: 0;
	font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}